<div class="social-bar">

  <a href="https://github.com/chelitodelgado/" class="icon img-perfil" target="_blank">
    <img src="../../../../assets/images/iconos/user.png" class="img-fluid" alt="Github de angel paredes torres" >
  </a>

  <a href="https://www.facebook.com/chelitodelgado0/" class="icon img-facebook" target="_blank">
    <img src="../../../../assets/images/iconos/Facebook.png" class="img-fluid" alt="Facebook de angel paredes torres" >
  </a>

  <a  class="icon img-email">
    <img src="../../../../assets/images/iconos/Mail.png" class="img-fluid" alt="Contacto de angel paredes torres" >
  </a>

  <a href="https://www.linkedin.com/in/angel-paredes-torres/" class="icon img-linkedin" target="_blank">
    <img src="../../../../assets/images/iconos/LinkedIn.png" class="img-fluid" alt="LinkedIn de angel paredes torres" >
  </a>

</div>

